@page
@model PersonalWebsite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<h4>Contact me at <a href="mailto:hunterk31@hotamil.com">hunterk31@hotmail.com</a></h4>