
<div class="navigation" style="margin-bottom: 15px;">
    <a class="btn btn-md btn-success" asp-page="Create">Create New</a>
    <a class="btn btn-md btn-primary" asp-page="/Blog/Index">Blog Menu</a>
    <a class="btn btn-md btn-info" asp-page="/Blog/Index">Account Settings</a>
</div>